.header {
  position: relative; // add this to make it a positioning context for the dropdown
  width: 100%;
  z-index: 100;
}

.title {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 5rem;
}

.navBarWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.menu {
  color: black;
  cursor: pointer;
  width: 64px;
  height: 64px;
  z-index: 1000; // ensure above other elements
}
