.hbox {
  display: flex;
  flex-direction: row;
  gap: 0.8rem; /* Match LAYOUT.gridGap = 12.8px */
}

.vbox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; /* Match LAYOUT.gridGap = 12.8px */
}
