.imageFullScreenWrapper {
  position: fixed; /* Use fixed positioning to keep it in place even on scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(17, 17, 17, 0.75); /* Adjusted for better visibility */
  z-index: 1000; /* Ensure it's above other content */
}

.closeButton {
  position: absolute;
  top: 3%;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  font-weight: bolder;
  color: white;
  text-shadow: #111111;
}