.catalogPageMain {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  &.mobile {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.catalogHeader {

}

.photoBlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  &.mobileWrapper {
    align-items: stretch; // Full width on mobile
  }
}
