.catalogPageMain {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  &.mobile {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
}

.catalogContent {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.catalogHeader {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.catalogHeaderLeft {
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.metadataWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 2rem;
}

.catalogHeaderRight {

}

.photoBlockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  &.mobileWrapper {
    align-items: stretch; // Full width on mobile
    width: 100%;
  }
}

.catalogTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  border: none;

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.catalogTitleEdit {
  @extend .catalogTitle;
  font-size: 2.5rem;
}

.catalogParagraph {
  font-size: 1.1rem;
  margin-top: 2rem;
  line-height: 1.6;
  color: #333;

  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.catalogParagraphEdit {
  @extend .catalogParagraph;

}

.catalogLocation {
  font-style: italic;
  margin-left: 0.5rem;
}


.catalogDate {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
  font-style: italic;
}

.photoBlockContainer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }
}
