html,
:root {
    --content-width: 72rem;
    --content-min-width: 766px;
    --content-max-width: 800px;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
    /* CSS-only parallax setup */
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*TODO: DarkMode Color Options*/
/*TODO: Darkmode/RegularMode separate for main colors*/
/*TODO: Could we have BASE color names that are overwritten by one or the other? How do we DYNAMICALLY do that at the global level?*/

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
