.parallaxSection {
  width: 100%;
  aspect-ratio: 2 / 1;
  margin-bottom: 2rem;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  //background-image: url("../Images/testImage.jpg");
}

.parallaxSectionTitle {
  padding: 5rem;
  font-size: 4rem;
  margin: 0;
  color: black;
  text-shadow: 2px 2px 0 white, 4px 4px 0 white;
}