.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
  padding: 0 var(--page-padding-mobile);

  @media (width >= 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-6);
    padding: 0;
  }
}
